.parent-calendar {
    display: flex;
    align-content: center;
    width: 400px;
    margin: 20px auto;
    flex-direction: column;
}
#calendar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#dates {
    display: flex;
    align-items: center;
    justify-content: center;
}
.right, .left {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.right {
    border-left: 10px solid #000;
}
.left {
    border-right: 10px solid #000;
}
/* table {
    counter-reset: count;
    position: relative;
}
td::before {
    counter-increment: count;
    content: counter(count);
    position: relative;
    color: #000;
} */